<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container" id = "headerContainer" ng-controller="HomeController" ng-init="isLoggedIn();">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/bimalsahay">BIMAL SAHAY</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/bimalsahay/about/#about">About Me</a></li>
				<li><a href="/bimalsahay/blog/#/new">Create Blog</a></li>
				<li><a href="/bimalsahay/blog/#/all">Blogs</a></li>
				<li><a href="/bimalsahay/login/#register" ng-show="!loggedIn">Register</a></li>
				<li><a href="/bimalsahay/login/#login" ng-show="!loggedIn">Login</a></li>
				<li class="dropdown" ng-show="loggedIn"><a
					class="dropdown-toggle" data-toggle="dropdown">User <b
						class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/blog">Profile</a></li>
						<li><a href="/bimalsahay/j_spring_security_check" ng-click="fbLogout()">Log Out</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>
