<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="/bahikhaata/resources/img/5551c4eae80c678c9ebf01f3488eeb6b.jpg">
        </div>
        <div class="col-md-6">
            <h2>Welcome to 'BAHI KHAATA'</h2>

            <p>This is a great place to introduce your company or project and describe what you do. This about page
                features general company information, employee bios, and other helpful elements.</p>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Reema Sahay
                <small>Chartered Accountant</small>
            </h3>
            <p>A highly successful Charted accountant with excellent knowledge of financial reporting and accounting posseses 3 year experience.Expert in covering all aspects from start up business, to financial management and company closures. Proven ability in professional judgement dealing with the disclosure of information in financial reporting.
Proficient in computation corporate, indivisual and taxes, corporate organizations, surplus distribution and cross boundary analysis etc.
Highly skilled in researching issues and finding solution and best alternatives to tax issues.
Easy going nature and able to coordinate with all departments.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/pub/reema-khanna/46/a3a/3" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Bimal Sahay
                <small>Software Engineer</small>
            </h3>
            <p>Overall 10+ Years of experience in Development, Maintenance, Enhancement and Support of various web based applications developed on Java/J2EE technologies 
            	with experience in Web Services, Spring Framework, Struts, Hibernate, GWT (GXT), Oracle PL/SQL, and MongoDB.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/pub/bimal-sahay/17/a5b/528" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

<!--         <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div> -->

    </div>

    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
