<div ng-controller="HomeController" ng-init="search(3);isLoggedIn();">
<div class="container" style="margin-top:20px">

    <div class="row well">
		<div class="col-lg-6">
		<form class="form-horizontal">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="search(3)">Go!</button>
				</span>
			</div>
			</form>
		</div>
		<!-- /.col-lg-6 -->
		<div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" ng-show="!loggedIn" href="#/pricing">Start Selling Now!</a>
        </div>
    </div>

</div>

<div class="section">

    <div class="container">
        <div class="row" ng-repeat="product in products" ng-if="$index % 3 == 0" class="row" infinite-scroll="searchMore(3)" infinite-scroll-disabled="busy">
<!--             <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/web/product/image/{{product.id + '-' + product.productUUID}}">
                </a>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/web/resources/img/image2.jpg">
                    <div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<p>{{products[$index].productName}}</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<p>$9.99</p>
							</div>
						</div>
					</div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/web/resources/img/image3.jpg">
                    <div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<p>{{products[$index + 1].productName}}</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<p>$9.99</p>
							</div>
						</div>
					</div>                    
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/web/resources/img/image4.jpg">
                    <div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<p>{{products[$index + 2].productName}}</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<p>$9.99</p>
							</div>
						</div>
					</div>                    
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>